@charset "UTF-8";
@media (max-width:620px) {
  header{
    height:3rem;
    padding:0.5rem;
  }
  /* 섹션02 변형스타일 */
  .s2img>ul>li{
    float:left;
    width:30%;
    padding-right:0.5rem;
  }
  .s2lh{
    padding-top:0.5rem;
    font-size: 1rem;
  }
  .s2lt{
    padding-top:0.5rem;
    font-size:0.8rem;
    line-height:100%;
  }
  /* 섹션03 변형스타일 */
  .s3t1{
    font-size:1.2rem;
  }
  .s3br{
    display:block;
  }
  .s3t2{
    padding:1rem 0;
    font-size:1.5rem;
    line-height: 140%;
  }
  /* 섹션04 변형스타일 */
  .s4t{
    width:70%;
    float:left;
  }
  .s4t2{
    width:75%;
    margin-top:1.5rem;
  }
  .s4img{
    right:0;
    bottom:0;
  }
  /* 섹션05 변형스타일 */
  .s5bg{
    height:150px;
  }
  .s5bg>div{
    width:90%;
  }
  .s5bg>div>h3{
    font-size:1.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .s5bg>div>ul>li{
    margin-left:0.7rem;
  }
  .s05{
    margin-top: 5rem;
  }
  .s5t1{
    margin-top:2rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .s5t2{
    padding-top:1rem;
    font-size: 0.8rem;
    line-height: 120%;
  }
  /* 섹션06 변형스타일 */
  .sec06{
    height:1100px;
  }
  .s6bg{
        height:1100px;
  }
  .s6t2{
    font-size:1.7rem;
    line-height:2rem;
  }
  .s6img>ul{
    width:55%;
    text-align: center;
    padding:2rem 0;
    margin: 0 auto;
  }
  .s6img>ul>li{
    width:55%;
      padding-left:0;
  }
  /* footer 변형스타일 */
  footer{
    padding-bottom:1rem;
  }

  footer>div>p{
    font-size:0.5rem;
    line-height: 140%;
    width:80%;
    float:left;
  }
  .ftimg{
    padding-top:50px;
    width:40%;
    float:none;
  }
}
