@charset "UTF-8";
@media (max-width:760px) {
  /* 헤더 변형스타일 */
  nav>ul{
    display: none;
  }
  .gnb{
    display:block;
  }
  /* 섹션01 변형스타일 */
  .sec01{
    height:30rem;
  }
  .s01{
    text-align: center;
    /* padding-top:10rem; */
  }
  .s1t{
    padding:1rem 0;
  }
  .s1t1{
    font-size:1.5rem;
  }
  .s1t2{
    font-size:1.5rem;
  }
  .s1img{
    width:65%;
  }
  .s1btn{
    width:30%;
    font-size:1.1rem;
    position:relative;
    display: inline-block;
    padding:0.5rem;
    border:2px solid #fff;
  }
  /* 섹션02 변형스타일 */
  .sec02{
      margin-top:3rem;
      margin-bottom:3rem;
  }
  .s02{
    width:100%;
    box-sizing: border-box;
    margin:0;
    padding:0 20px;
  }
  .s2t{}
  .s2t2{
    font-size: 2rem;
  }
  .s2t3{
    font-size:0.8rem;
    line-height: 1rem;
  }
  .s2img>ul>li{
    float:left;
    width:30%;
    padding-right:1rem;
  }
  .s2lh{
    padding-top:1rem;
    font-size: 1.2rem;
  }
  .s2lt{
    padding-top:1rem;
    font-size:0.9rem;
  }
  /* 섹션03 변형스타일 */
  .s3t{
    height:300px;
    width:50%;
    color:#fff;
    font-size:2rem;
    float:left;
  }
  /* 섹션04 변형스타일 */
  .sec04{
    height:450px;
  }
  .s4bg{
    width:100%;
    padding:3rem 0;
    height: 450px;
  }
  .s04{
    width:90%;
    margin:0 auto;
  }
  .s4img{
    max-width: 30%;
    margin-right:10px;
  }
  .s4t{
    /* width:50%; */
    float:left;
    margin-left:0;
  }
  .s4t>h3{
    font-size:1.8rem;
    margin-bottom:1rem;
  }
  .s4t1{
    font-size:1.2rem;
    line-height: 140%;
  }
  .s4t2{
    margin-top:2rem;
    font-size:0.7rem;
    line-height: 120%;
  }
  .s4img{
    max-width: 40%;
    /* margin-right:80px; */
    position:absolute;
    right:10px;
  }
  /* 섹션06 변형스타일 */
  .s06{
    height:750px;
    margin:0 20px;
    padding:3rem 0;
  }
  .s6bg{
    height:750px;
  }
  .s6hr{
    width:5rem;
  }
  .s6t{
    width:50%;
  }
  .s6t1{
    font-size:1.5rem;
    padding-bottom: 1rem;
  }
  .s6t2{
    font-size:2rem;
    line-height:2.3rem;
  }
  .s6t3{
    font-size:0.9rem;
  }
  .s6img>ul{
    width:70%;
    text-align: center;
    padding:0;
    margin: 0 auto;
  }
  .s6img>ul>li{
    width:40%;
  }
  /* 섹션07 스타일 */
  .s07{
    padding:1rem;
  }
  /* 섹션08 변형스타일 */
  .sec08{
    height:400px;
  }
  .s8bg{
    background-color: rgba(0, 0, 0, 0.7);
    height:400px;
  }
  .s08{
    width:100%;
    text-align: center;
    margin: 0 auto;
    padding:3rem 0;
  }
  .s8t1{
    font-size:1.5rem;
    padding-bottom:3rem;
  }
  .s8t2{
    font-size:1.5rem;
    line-height:2rem;
  }
  .s8t3{
    padding-top:20px;
    font-size: 0.9rem;
    line-height: 120%;
  }

  /* footer 변형스타일 */
  footer{
    padding-bottom:3rem;
  }
    .ft{
      padding:1rem 0;
    }
  footer>div>p{
    font-size:0.7rem;
    line-height: 120%;
    width:80%;
    float:left;
  }
  .ftimg{
    width:17%;
    float:right;
  }
}
