@charset "UTF-8";
@media (max-width:1260px) {
  /* 섹션02 변형스타일 */
  .s02{
    width:960px;
    /* margin-left:50px; */
    box-sizing: border-box;
  }
  .s2t{
    /* margin-right:1rem; */
  }
  .s02 ul>li{
    float:left;
    width:17%;
  }
  /* 섹션03 변형스타일 */
  .s3t2{
    padding:2rem 0;
    font-size: 2rem;
  }
  /* 섹션04 변형스타일 */
  .sec04{
    height:500px;
  }
  .s4bg{
    width:100%;
    height: 500px;
  }
  .s04{
    width:960px;
    margin:2rem auto 0;
  }
  .s4img{
    max-width: 30%;
    margin-right:100px;
  }
  .s4t{
    width:50%;
    float:left;
    margin-left:100px;
  }
  .s4t>h3{
    font-size:1.5rem;
    margin-bottom:1.8rem;
  }
  .s4t1{
    font-size:1.7rem;
    line-height: 140%;
    box-sizing: border-box;
  }
  .s4t2{
    margin-top:5rem;
  }
  .s4img{
    max-width: 30%;
    margin-right:80px;
    position:absolute;
    right:10px;
  }
  /* 섹션05 변형스타일 */
  .s5bg>div{
    width:960px;
    position:absolute;
    transform: translate(-50%, -50%);
    left:50%;
    top:85%;
    margin: 0 auto;
  }
  /* 섹센06 변형스타일 */
  .s6bg{
    height:500px;
  }
  .s6t2{
    font-size:2rem;
    line-height: 3rem;
  }
  .s6img>ul{
    width:95%;
  }
  .s6img>ul>li>p{
    font-size:1rem;
  }
  .s6img>ul>li>p>span{
    font-size:0.7rem;
  }
  /* 섹션08 변형스타일 */
  footer>div>p{
    font-size:0.8rem;
    width:80%;
    float:left;
  }
  .ftimg{
    width:17%;
    float:right;
  }
}
