@charset "UTF-8";
@media (max-width:980px) {
  /* 섹션01 변형스타일 */
  .sec01{
    height:35rem;
  }
  .s01{
    text-align: center;
    /* padding-top:10rem; */
  }
  .s1t{
    padding:1rem 0;
  }
  .s1t1{
    font-size:1.5rem;
  }
  .s1t2{
    font-size:1.5rem;
  }
  .s1img{
    width:65%;
  }
  .s1btn{
    width:40%;
    font-size:1.1rem;
    position:relative;
    display: inline-block;
    padding:0.5rem;
    border:2px solid #fff;
  }
  /* 섹션02 변형스타일 */
  .sec02{
      margin-top:8rem;
      margin-bottom:3rem;
  }
  .s02{
    width:95%;
    box-sizing: border-box;
    padding:0 50px;
  }
  .s2t{
    width:100%;
    margin:0 auto;
  }
  .s2img>ul>li{
    float:left;
    width:27%;
  }
  .s2t3{
    font-size:1rem;
    padding-bottom:20px;
  }
  .s2hr{
    width:6rem;
    margin:0.7rem 0;
  }
  /* 섹션03 변형스타일 */
  .s3t{
    height:300px;
    width:50%;
    color:#fff;
    font-size:2rem;
    float:left;
  }
  .s3t2{
    padding:2rem 0;
    font-size: 1.5rem;
  }
  /* 섹션04 변형스타일 */
  .sec04{
  }
  .s4bg{
    width:100%;
    padding:4rem 0;
  }
  .s04{
    width:90%;
    margin:0 auto;
  }
  .s4img{
    max-width: 30%;
    margin-right:10px;
  }
  .s4t{
    /* width:50%; */
    float:left;
    margin-left:0;
  }
  .s4t>h3{
    font-size:1.8rem;
    margin-bottom:1rem;
  }
  .s4t1{
    font-size:1.2rem;
    line-height: 140%;
    box-sizing: border-box;
  }
  .s4t2{
    margin-top:2rem;
  }
  .s4img{
    max-width: 40%;
    position:absolute;
    right:10px;
  }
  /* 섹션05 변형스타일 */
  .s5bg{
    height:250px;
}
  .s5bg>div{
    width:80%;
  }
  .s05{
    margin-top: 5rem;
  }
  /* 섹션06 변형스타일 */
  .s06{
    height:950px;
  }
  .s6bg{
    height:950px;
  }
  .s6hr{
    width:6rem;
    margin:0.5rem 0;
    border:1px solid #000;
  }
  .s6t{
    width:50%;
  }
  .s6img>ul{
    text-align: center;
    padding:5rem 0;
  }
  .s6img>ul>li{
    width:30%;
  }
}
